.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}/* CSS declarations go here */

#mad-lib-sentence {
	color: #0000ff;
	text-align: center;
	font-size: 18px;
	padding-top: 150
}

.div{
	padding-top: 150px
}